name: Python Code Quality
on: [push]


jobs:
  lock_file:
    name: test lock file
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - run: uv lock --locked


  linting:
    runs-on: ubuntu-latest
    needs: [lock_file]
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - run: uv sync --extra dev
      - run: uv run ruff check .


  formatting:
    runs-on: ubuntu-latest
    needs: [lock_file]
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - run: uv run ruff format --check .


  type_consistency:
    name: type consistency
    runs-on: ubuntu-latest
    needs: [lock_file]
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - run: uv run mypy .


  test_build:
    name: test building package
    runs-on: ubuntu-latest
    needs: [lock_file]
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - run: uv build
      - name: store dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/